{% extends "home.html" %}
{% block content %}
    <div class="col-md-12">
        <h2>Планування Бюджету</h2>
        <p>Тут ви можете планувати свій бюджет. Додавати плани витрат і доходів, а також переглядати свої фінансові цілі.</p>
        <form>
            <div class="form-group">
                <label for="budget">Введіть суму бюджету:</label>
                <input type="number" class="form-control" id="budget" placeholder="Введіть суму">
            </div>
            <button type="submit" class="btn btn-primary">Планувати</button>
        </form>
    </div>
{% endblock %}
