{% extends "home.html" %}
{% block content %}
<div class="col-md-12" style="background-color: #f1f3f6; padding: 20px; border-radius: 10px;">
    <h2 style="color: #2c3e50; text-align: center; margin-bottom: 20px;">Графік Витрат</h2>
    <form method="get" action="{% url 'expense_chart' %}" class="form-inline justify-content-center">
        <label for="month" class="mr-2" style="font-size: 18px;">Виберіть місяць:</label>
        <select id="month" name="month" class="form-control mr-2" required>
            <option value="">-- Оберіть місяць --</option>
            <option value="2024-01">Січень</option>
            <option value="2024-02">Лютий</option>
            <option value="2024-03">Березень</option>
            <option value="2024-04">Квітень</option>
            <option value="2024-05">Травень</option>
            <option value="2024-06">Червень</option>
            <option value="2024-07">Липень</option>
            <option value="2024-08">Серпень</option>
            <option value="2024-09">Вересень</option>
            <option value="2024-10">Жовтень</option>
            <option value="2024-11">Листопад</option>
            <option value="2024-12">Грудень</option>
        </select>
        <button type="submit" class="btn btn-primary">Показати</button>
    </form>
    {% if form.month.errors %}
        <div class="text-danger mt-2" style="text-align: center;">
            {% for error in form.month.errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    <h3 style="color: #2c3e50; text-align: center; margin-top: 20px;">{{ month_name }}</h3>

    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Ім'я</th>
                    <th>Категорія</th>
                    <th>Сума</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr style="background-color: {{ expense.color }}">
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <img src="data:image/png;base64,{{ graphic }}" alt="Графік витрат" style="max-width: 100%; height: auto; border: 2px solid #d2b48c; border-radius: 10px;">
    </div>
</div>
{% endblock %}
