<!DOCTYPE html>
<html lang="uk">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <title>Реєстрація</title>
</head>
<body>
    <div class="top-right-corner">
        {% if user.is_authenticated %}
            <div class="auth-buttons">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="auth-button auth-button-logout">Вийти</button>
                </form>
            </div>
        {% else %}
            <div class="auth-buttons">
                <a href="{% url 'login' %}" class="auth-button auth-button-login">Увійти</a>
                <a href="{% url 'signup' %}" class="auth-button auth-button-signup">Реєстрація</a>
            </div>
        {% endif %}
    </div>
    <div class="container mt-5">
        <h1 class="text-center">РЕЄСТРАЦІЯ</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Ім'я користувача</label>
                <input type="text" name="username" class="form-control" id="id_username" required>
            </div>
            <div class="form-group">
                <label for="id_email">Електронна пошта</label>
                <input type="email" name="email" class="form-control" id="id_email" required>
            </div>
            <div class="form-group">
                <label for="id_password1">Пароль</label>
                <input type="password" name="password1" class="form-control" id="id_password1" required>
            </div>
            <div class="form-group">
                <label for="id_password2">Підтвердження пароля</label>
                <input type="password" name="password2" class="form-control" id="id_password2" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">РЕЄСТРАЦІЯ</button>
        </form>
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="text-center mt-3">
            <a href="{% url 'login' %}" class="btn btn-secondary">Вже маєте обліковий запис? Увійти</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
