<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>График Расходов</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">График Расходов</h1>
        <div class="text-center">
            <img src="data:image/png;base64,{{ graphic }}" alt="График Расходов">
        </div>
    </div>
</body>
</html>
