{% load static %}
{% block content %}
    <div class="col-md-12">
        <h2>Фінансові Поради</h2>
        <ul class="list-group mt-4">
            <li class="list-group-item">
                <strong>1. Ведіть облік витрат</strong> - Записуйте всі свої витрати, щоб мати чітке уявлення про свої фінансові звички.
            </li>
            <li class="list-group-item">
                <strong>2. Плануйте бюджет</strong> - Встановлюйте бюджети на різні категорії витрат, щоб уникнути перевитрат.
            </li>
            <li class="list-group-item">
                <strong>3. Відкладайте гроші</strong> - Регулярно відкладайте частину своїх доходів для заощаджень.
            </li>
            <li class="list-group-item">
                <strong>4. Інвестуйте розумно</strong> - Досліджуйте можливості інвестування і вибирайте варіанти з низьким ризиком для початку.
            </li>
            <li class="list-group-item">
                <strong>5. Знайте свої фінансові цілі</strong> - Визначте свої короткострокові та довгострокові цілі, і працюйте над їх досягненням поступово.
            </li>
        </ul>
    </div>
{% endblock %}
