{% load static %}
{% block content %}
    <div class="col-md-12">
        <h2>Список Доходів</h2>
        <form method="post" action="{% url 'add_income' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="source">Джерело</label>
                <input type="text" class="form-control" id="source" name="source" required>
            </div>
            <div class="form-group">
                <label for="amount">Сума</label>
                <input type="number" class="form-control" id="amount" name="amount" required>
            </div>
            <button type="submit" class="btn btn-success">Додати Доход</button>
        </form>
        <h3 class="mt-4">Існуючі Доходи</h3>
        <ul class="list-group mt-2">
            {% for income in incomes %}
                <li class="list-group-item">
                    <strong>{{ income.source }}</strong>: {{ income.amount }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
